<section class="charts-section py-4">
    <div class="container-main">
        <!-- National Accreditation Chart -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">
                    <i class="fas fa-chart-pie me-2"></i>
                    Capaian Peringkat Akreditasi Nasional Universitas Gunadarma
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-container">
                            <canvas id="nationalChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table id="nationalTable" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Peringkat</th>
                                        <th>Jumlah</th>
                                        <th>Persentase</th>
                                    </tr>
                                </thead>
                                <tbody id="nationalTableBody">
                                </tbody>
                                <tfoot>
                                    <tr class="fw-bold">
                                        <td>Total</td>
                                        <td>0</td>
                                        <td>0%</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- International Accreditation Chart -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">
                    <i class="fas fa-globe me-2"></i>
                    Capaian Akreditasi Internasional Universitas Gunadarma
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-container">
                            <canvas id="internationalChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table id="internationalTable" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Lembaga Akreditasi</th>
                                        <th>Jumlah</th>
                                        <th>Persentase</th>
                                    </tr>
                                </thead>
                                <tbody id="internationalTableBody">
                                </tbody>
                                <tfoot>
                                    <tr class="fw-bold">
                                        <td>Total</td>
                                        <td>0</td>
                                        <td>0%</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Institutional Accreditation Chart -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">
                    <i class="fas fa-building me-2"></i>
                    Capaian Lembaga Akreditasi, Akreditasi Nasional Universitas Gunadarma
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-container">
                            <canvas id="institutionalChart"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table id="institutionalTable" class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Lembaga</th>
                                        <th>Jumlah</th>
                                        <th>Persentase</th>
                                    </tr>
                                </thead>
                                <tbody id="institutionalTableBody">
                                </tbody>
                                <tfoot>
                                    <tr class="fw-bold">
                                        <td>Total</td>
                                        <td>0</td>
                                        <td>0%</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
