<footer class="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <h5 class="fw-bold mb-3">
                    <i class="fas fa-graduation-cap me-2"></i>
                    Universitas Sebelas Maret
                </h5>
                <p class="mb-3">
                    Universitas yang berkomitmen untuk memberikan pendidikan berkualitas dan pelayanan terbaik kepada
                    masyarakat.
                </p>
                <div class="d-flex gap-3">
                    <a href="#" class="text-white">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2">
                <h6 class="fw-bold mb-3">Navigasi</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/" class="text-white-50 text-decoration-none">Beranda</a></li>
                    <li class="mb-2"><a href="/profil" class="text-white-50 text-decoration-none">Profil</a></li>
                    <li class="mb-2">
                        <a href="/akreditasi" class="text-white-50 text-decoration-none">Akreditasi</a>
                    </li>
                    <li class="mb-2"><a href="/kontak" class="text-white-50 text-decoration-none">Kontak</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h6 class="fw-bold mb-3">Akreditasi</h6>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/nasional" class="text-white-50 text-decoration-none">Akreditasi Nasional</a>
                    </li>
                    <li class="mb-2">
                        <a href="/internasional" class="text-white-50 text-decoration-none">Akreditasi Internasional</a>
                    </li>
                    <li class="mb-2">
                        <a href="/lembaga" class="text-white-50 text-decoration-none">Akreditasi Lembaga</a>
                    </li>
                    <li class="mb-2">
                        <a href="/download" class="text-white-50 text-decoration-none">Download Sertifikat</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h6 class="fw-bold mb-3">Kontak</h6>
                <div class="mb-2">
                    <i class="fas fa-map-marker-alt me-2"></i>
                    <small>Jl. Ir. Sutami No. 36A, Surakarta 57126</small>
                </div>
                <div class="mb-2">
                    <i class="fas fa-phone me-2"></i>
                    <small>+62 271 632450</small>
                </div>
                <div class="mb-2">
                    <i class="fas fa-envelope me-2"></i>
                    <small>akreditasi@uns.ac.id</small>
                </div>
                <div>
                    <i class="fas fa-globe me-2"></i>
                    <small>www.uns.ac.id</small>
                </div>
            </div>
        </div>

        <hr class="my-4 text-white-50" />

        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0 small">&copy; 2024 Universitas Sebelas Maret. Semua hak dilindungi.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0 small">Dikembangkan oleh Tim IT UNS</p>
            </div>
        </div>
    </div>
</footer>
